
/* GENERAL */


*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

html{
  height: 100%;
  scroll-behavior: smooth;
}


img {
  display: block;
  height: auto;
}


body{
  max-width: 100%;
  background-color: var(--main-Midnight-Green);
  font-family: "Livvic", sans-serif;
  overflow-x: hidden;
}
.unscrollbody {
  overflow: hidden;
}

// .site-main {
//   flex-grow: 1;
// }